apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: rails-app
        # Спробуємо цей образ, він часто є дефолтним для таких тасок
        image: ghcr.io/practical-devops-k8s/kubernetes-task2-berehx:latest
        ports:
        - containerPort: 3000
        env:
        - name: RAILS_ENV
          value: "development"
        - name: DATABASE_URL
          value: "postgresql://postgres:password@postgres-service:5432/postgres"
        - name: RAILS_MASTER_KEY
          value: "dummy_key_for_ci"
---
apiVersion: v1
kind: Service
metadata:
  name: webapp-service
spec:
  selector:
    app: webapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000