apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: rails-app
        image: ruby:3.3.1-slim
        command: ["/bin/sh", "-c"]
        args:
          - |
            apt-get update -qq && apt-get install -y libpq-dev && \
            gem install bundler && bundle install --without development test && \
            rm -f tmp/pids/server.pid && \
            bundle exec rails s -p 3000 -b '0.0.0.0'
        ports:
        - containerPort: 3000
        env:
        - name: RAILS_ENV
          value: "production"
        - name: DATABASE_URL
          value: "postgresql://postgres:password@postgres-service:5432/postgres"
        - name: RAILS_SERVE_STATIC_FILES
          value: "true"
        - name: RAILS_MASTER_KEY
          value: "dummy_key_for_ci"
---
apiVersion: v1
kind: Service
metadata:
  name: webapp-service
spec:
  selector:
    app: webapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000