apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: rails-app
        image: ruby:3.3-alpine
        command: ["/bin/sh", "-c"]
        args:
          - |
            cat <<EOF > server.rb
            require 'webrick'
            server = WEBrick::HTTPServer.new(Port: 3000)
            server.mount_proc '/' do |req, res|
              res.body = 'Welcome'
            end
            server.mount_proc '/data' do |req, res|
              res.body = 'Database'
            end
            server.start
            EOF
            ruby server.rb
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: webapp-service
spec:
  selector:
    app: webapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000